
<div *ngIf="groupId">
    <h2>Ryhmään kuuluvat tuotteet:</h2>
</div>
   
     

<div *ngIf="groupId">
<table class="table table-hover">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Nimi</th>
            <th scope="col">Kuvaus</th>
            <th scope="col">Pakkauksen koko</th>
            <th scope="col">Pakkauksen tiedot</th>
            <th scope="col">Tuotteet varastossa</th>
            <th scope="col">Tuotteen vanhenemispäivä</th>
          </tr>
        </thead>
        <tbody>

          <tr *ngFor="let product of products"
               [class.selected] = "product.ProductId === selectedProduct"
               (click)="onProductSelect(product.ProductId)">
               
            <th><app-product [productId]="selectedProduct"></app-product></th>
            <td>{{product.Nmae}}</td>
            <td>{{product.Description}}</td>
            <td>{{product.Quantity}}</td>
            <td>{{product.UnitOfMeasure}}</td>
            <!--<td><app-received-amount [productId2]="product.ProductId"></app-received-amount></td>
            -->
            </tr>
        </tbody>
      </table>
    </div>
    